@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 234, 234, 234;
  --background-end-rgb: 234, 234, 234;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 234, 234, 234;
    --background-end-rgb: 234, 234, 234;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-navbar {
  background-color: rgb(248, 230, 53);
  color: rgb(37, 36, 5);
}

.footer {
  border-top: 3px solid rgb(248, 230, 53);
  color: rgb(76, 76, 76);
}

.button-game-green {
  color: rgb(22, 151, 63);
  transition: ease 0.2s;
  border-width: 2px 2px 5px 2px;
  border-color: transparent;
}

.button-game-red {
  transition: ease 0.2s;
  color: rgb(231, 0, 8);
  border-width: 2px 2px 5px 2px;
  border-color: transparent;
}

.button-game-green:hover,
.hover-button-game-green:hover .button-game-green {
  background-color: rgb(22, 151, 63);
  color: #ffffff;
  border-style: solid;
  border-color: rgb(12, 0, 113);
}

.button-game-red:hover,
.hover-button-game-red:hover .button-game-red {
  background-color: rgb(231, 0, 8);
  color: #ffffff;
  border-style: solid;
  border-color: rgb(12, 0, 113);
}

.transition-bg-vs {
  transition:
    background-color 1s ease,
    border-radius 1s ease,
    color 1s ease;
}

.success {
  transition: ease;
  background-color: rgb(22, 151, 63);
  color: #ffffff;
  border-radius: 100%;
}

.fail {
  transition: ease;
  background-color: rgb(231, 0, 8);
  color: #ffffff;
  border-radius: 100%;
}
